Flask
PyPDF2
langchain
spacy
langchain-google-genai
google
python-dotenv
flask-cors
waitress
faiss-cpu
python3 -m spacy download en_core_web_sm
pip3 install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz